<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lorem Ipsum Generator</title>
</head>
<body>
    <h3>Lorem Ipsum Generator</h3>
    <form action="/" method="POST">
        <select name="selector">
          <option value="words">Words</option>
          <option value="sentences">Sentences</option>
          <option value="paragraphs">Paragraphs</option>
        </select>
        <br>
        <input type="text" placeholder="Number" name="number">
        <input type="submit" value="search" class="button">
    </form>
    <div id="lorem">
        <textarea rows="40" cols="80"></textarea>
    </div>
</body>
</html>